/* 
color pallate
#845ec2
#4b4453
#b0a8b9
#c34a36
#ff8066

#845ec2
#009efa
#00d2fc
#4ffbdf

*/


body{
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #7b57b5, #5371c9, #1886d1, #0098ce, #0ca7c6);
    font-family: 'Poppins', Courier, monospace;
}

.head{
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-size: 2rem;
}

.date{
    font-size: 1.5rem;
}

.tasksCompleted{
    font-size: 1.5rem;
}

.taskBox, .completedTaskBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    
}

.taskList, .CompletedTaskList{
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.5s ease;
    min-width: 52vw;

}

.taskList, .CompletedTaskList h3{
    font-size: 2rem;
}

.taskList:hover{
    box-shadow: 0px 0px 18px 1px #000000;
}
.CompletedTaskList:hover{
    box-shadow: 0px 0px 18px 1px #000000;
}

.tasks, .completedTasks{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.taskButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tasks button{
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 0px 30px;
    background-color: transparent;
    transition: 0.5s all ease;
}

.tasks button:hover{
    background-color: #e6624a;
    cursor: pointer;
}

.addTask{
    background-color: transparent;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}


.addTaskPopup{
    border: 2px solid blue;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s all ease;
}

.taskInput{
    border: 1px rgba(0, 0, 0, 0.555) solid;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.363);
}

.addTaskPopup button{
    border: none;
    
}

.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

